@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
body {
    font-family: 'Hanken Grotesk', sans-serif;
}
.attribution { 
    font-size: 11px; text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 1440px) {
    .main {
        width: 50%;
        display: flex;
        margin: auto;
    }
    .main div {
        width: 100%;
        margin: auto;
        margin-block: 5%;
        position: relative;
    }
    .result {
        height: 70vh;
        border-radius: 20px;
        width: 25vw;
        margin-block: 40px;
        margin-left: 25%;
        background: linear-gradient(90deg, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
    
    }
    .result h1 {
        text-align: center;
        font-size: 20px;
        color: #D5CCFF;
        padding-block: 15px;
    }
    .result h2 {
        text-align: center;
        color: #FEFFFF;
    }
    .result p {
        text-align: center;
        padding-inline: 20px;
        color: #CBCFFF;
    }
    .circle {
        height: 150px;
        max-width: 150px;
        border-radius: 100%;
        line-height: 0;
        position: absolute;
        align-items: center;
        background: linear-gradient(90deg, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 1));
        margin: auto;
    }
    .circle span {
        display: block;
        text-align: center;
        margin: auto;
        padding-block: 60px;
    }
    .circle .total-score {
        color: #FEFCFF;
        font-size: 60px;
        font-weight: bold;
        padding-block-end: 40px;
    }
    .circle .out-of-score {
        color: #8F83FF;
        padding: 1px;
    }
    .summary {
        background-color: hsl(0, 0%, 100%);
        border-radius: 20px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        width: 25vw;
        margin-block: 40px;
        height: 70vh;
        box-shadow: 5px 5px 10px #555;
    }
    .summary ul {
        list-style: none;
    }
    .summary h3 {
        font-size: 20px;
        margin-inline: 40px;
        padding-block: 5px;
    }
    .remarks {
        height: 10%;
        padding: 10px;
        display: block;
        width: 80%;
        border-radius: 10px;
        justify-content: center;
        position: relative;
        margin-block: 10px;
    }
    .remarks img {
        margin-right: 10px;
        margin-block: 5px;
    }
    .remarks span {
        margin-right: 20%;
        font-size: 18px;
        position: absolute;
        top: 13px;
    }
    .score {
        padding-right: 0px;
        align-self: flex-end;
        position: absolute;
        top: 13px;
        right: 0px;
    }
    .reaction {
        background-color: #FFF6F5;
    }
    .memory {
        background-color: #FFFBF2;
    }
    .verbal {
        background-color: #F2FBFA;
    }
    .visual {
        background-color: #F3F3FD;
    }
    .red {
        color: hsl(0, 100%, 67%);
    }
    .orange {
        color: hsl(39, 100%, 56%);
    }
    .green {
        color: hsl(166, 100%, 37%);
    }
    .blue {
        color: hsl(234, 85%, 45%);
    }
    .continue-btn {
        position: absolute;
        width: 75%;
        padding: 10px;
        margin-inline: 10%;
        margin-block: 15px;
        text-decoration: none;
        color: white;
        background-color: #303B59;
        border-radius: 25px;
        text-align: center;
        padding: 15px;
        
    }
    .continue-btn:hover {
        background-color: #4C38F2;
        color: white;
    }
}

@media only screen and (max-width: 1350px) {
    .main {
        width: 70%;
        margin: auto;
    }
    .main div {
        margin-block: 0;
        padding-block: 0;
        width: 100%;
    }
    .result {
        height: 80vh;
        margin: auto;
    }
    .summary {
        height: 80vh;
    }
}

@media only screen and (max-width: 1100px) {
    .main {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .main div {
        width: 100%;
        height: 80vh;
    }
    .result {
        margin: 0;
        padding: 0;
        border: 0;
    }
    .summary {
        margin: 0;
        padding: 0;
        border: 0;
        border-radius: 20px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .summary h3 {
        margin-inline: 125px;
    }
    .remarks {
        margin-inline: auto;
    }
    .continue-btn {
        margin-inline: 13%;
    }
    .circle {
        max-width: 150px;
        max-height: 150px;
        border-radius: 50%;
    }
}

@media only screen and (max-width: 375px) {
    .main {
        display: block;
        width: 100%;
    }
    .main div {
        width: 100%;
    }
    .result {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
    .summary {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

}
